@import url("/css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  font-size: 14px;
  font-weight: 400; }

body {
  background-image: url("/assets/texture.png");
  font-family: 'Open Sans', sans-serif;
  padding: 0; }
  body .main {
    padding: 2rem; }
    body .main header h1 {
      font-weight: 700; }
    body .main header h3 {
      color: #404040;
      font-weight: 400;
      margin-top: 2rem; }
    body .main .form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 3rem; }
      body .main .form .inputWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        min-width: 49%; }
        body .main .form .inputWrapper label {
          color: #404040;
          font-size: 1rem;
          margin-bottom: 0.5rem;
          text-transform: uppercase; }
        body .main .form .inputWrapper input[type="text"],
        body .main .form .inputWrapper input[type="email"],
        body .main .form .inputWrapper select {
          background-color: white !important;
          border-color: #d1e8e6;
          border-style: solid;
          border-width: 3px;
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
          height: 2.5rem;
          outline: none;
          padding-left: 0.5rem; }
          body .main .form .inputWrapper input[type="text"]:active,
          body .main .form .inputWrapper input[type="email"]:active,
          body .main .form .inputWrapper select:active {
            border-color: #a1d2ce; }
          body .main .form .inputWrapper input[type="text"]:disabled,
          body .main .form .inputWrapper input[type="email"]:disabled,
          body .main .form .inputWrapper select:disabled {
            background-color: #F1F1F1;
            border-color: #999; }
          body .main .form .inputWrapper input[type="text"].error,
          body .main .form .inputWrapper input[type="email"].error,
          body .main .form .inputWrapper select.error {
            background-color: #F7E7E6 !important;
            border-color: #F294A5; }
        body .main .form .inputWrapper.combo {
          width: 100%; }
          body .main .form .inputWrapper.combo select {
            appearance: none;
            background: url("/assets/text-expand-arrow.svg") no-repeat;
            background-position-x: 95%;
            background-position-y: 50%;
            background-size: 0.6rem;
            height: 3.1rem;
            padding-left: 1.2rem;
            text-transform: uppercase;
            width: 250px; }
        body .main .form .inputWrapper.checkbox {
          align-items: center;
          flex-direction: row; }
          body .main .form .inputWrapper.checkbox label {
            margin: 0 0 0 1rem; }
          body .main .form .inputWrapper.checkbox input {
            box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
            height: 2rem;
            width: 2rem; }
            body .main .form .inputWrapper.checkbox input:checked {
              background-color: #E8E8E8;
              border: 0; }
      body .main .form .checkboxWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; }
      body .main .form .buttons {
        margin-top: 4rem; }
        body .main .form .buttons button {
          background-color: white;
          border: none;
          border-radius: 3.5rem;
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
          cursor: pointer;
          height: 3.5rem;
          outline: none;
          text-transform: uppercase;
          width: 12rem; }
          body .main .form .buttons button.submit {
            background-color: #813093;
            color: white;
            margin-right: 1.5rem; }

@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 30px; }
  body .main .form {
    flex-direction: column; }
    body .main .form .inputWrapper.combo select {
      width: 100%; }
    body .main .form .inputWrapper.checkbox {
      max-width: 45%;
      overflow: hidden;
      word-break: break-word; }
    body .main .form .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 1rem; } }
