@import url('/css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
    font-size: 14px;
    font-weight: 400;
}

body {
    background-image: url("/assets/texture2.png");
    background-size: 25rem;
    font-family: 'Open Sans', sans-serif;    
    padding: 0;

    .main {
        padding: 2rem;

        header {
            h1 {
                font-weight: 700;
            }

            h3 {
                color: #404040;
                font-weight: 400;
                margin-top: 2rem;
            }
        }

        .form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 3rem;

            .inputWrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 2.5rem;
                min-width: 49%;
                position: relative;
                
                .errorMessage {
                    color: red;
                    font-style: italic;
                    font-weight: 700;
                    position: absolute;
                    top: -1.5rem;                    
                }

                label {
                    color: #404040;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    text-transform: uppercase;
                }

                input[type="text"],
                input[type="email"],
                select {                
                    background-color: white !important;        
                    border-color: #d1e8e6;
                    border-style: solid;
                    border-width: 3px;
                    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
                    height: 2.5rem;
                    outline: none;
                    padding-left: 0.5rem;                        

                    &:active {
                        border-color: #a1d2ce;
                    }

                    &:disabled {
                        background-color: #F1F1F1;
                        border-color: #999;
                    }

                    &.error {
                        background-color: #F7E7E6 !important;
                        border-color: #F294A5;
                    }
                }                

                &.combo {
                    width: 100%;

                    select {
                        appearance: none;
                        background: url("/assets/text-expand-arrow.svg") no-repeat;
                        background-position-x: 95%;
                        background-position-y: 50%;
                        background-size: 0.6rem;
                        height: 3.1rem;
                        padding-left: 1.2rem;
                        text-transform: uppercase;
                        width: 250px;
                    }
                }

                &.checkbox {
                    align-items: center;
                    flex-direction: row;

                    label {
                        margin: 0 0 0 1rem;
                    }

                    input {
                        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
                        height: 2rem;
                        width: 2rem;

                        &:checked {
                            background-color: #E8E8E8;
                            border: 0;
                        }
                    }
                }
            }

            .checkboxWrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 1rem;
                position: relative;                    
                width: 100%;

                .errorMessage {
                    color: red;
                    font-style: italic;
                    font-weight: 700;
                    position: absolute;
                    top: -2rem;                    
                }
            }

            .buttons {
                margin-top: 4rem;

                button {
                    background-color: white;
                    border: none;
                    border-radius: 3.5rem;
                    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
                    cursor: pointer;
                    height: 3.5rem;
                    outline: none;
                    text-transform: uppercase;
                    width: 12rem;

                    &.submit {
                        background-color: #813093;
                        color: white;
                        margin-right: 1.5rem;
                    }
                }
            }
            
        }
    }

    .message {
        font-size: 2rem;
        margin: 10rem;
        text-align: center;
    }

    .hidden {
        display: none;
        visibility: hidden;
    }
}

@media only screen 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
        .main {
            padding: 1.5rem;

            header {
                h1 {
                    font-size: 1.7rem;
                }
            }

            .form {            
                flex-direction: column;

                .inputWrapper {
                    width: 100%;
                    
                    &.combo {
                        select {
                            width: 100%;                            
                        }
                    }
                }  
                
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin-top: 1rem;

                    button {
                        width: 11rem;
                    }
                }
            }
        }

        .message {
            margin: 10rem 2rem;
        }
    }
}